*{
  box-sizing: border-box;
  margin: 0;
}
button{
  border: none;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  transition: .25s ease;
  font-family: "Lora", serif;
  &:hover{
    scale: 1.05;
  }
}